.sticky-top {
    top: 160px;
}

.form-group {
    margin-bottom: 5px;
}

.active {
    background-color:#c1d62e;
    color: floralwhite;
}

.price-button {
    padding-right:0px;
    padding-left:0px;
}



