.list-group {
    
    .list-group-item {
        a {
            text-decoration: none;            
        }
    }

    .list-group-item.active {
        a{
            color: floralwhite;
        }        
    }
}

.sticky-top {
    top: 232px;
}

.form-group {
    margin-bottom: 5px;
}


