.list-group {
    
    .list-group-item {
        a {
            text-decoration: none;            
        }
    }

    .list-group-item.active {
        a{
            color: floralwhite;
        }        
    }
}

.sticky-top {
    top: 160px;
}

.form-group {
    margin-bottom: 5px;
}

.dropdown-item {
    color: rgb(75, 75, 75);
}

.active {
    background-color:#c1d62e;
    color: floralwhite;
}



