<!-- BEGIN ADD NEW PRODUCT BUTTON -->
<p class="pt-3 pt-md-0">
    <button class="btn btn-primary" routerLink='/admin/products/new'>Add New Product</button>
</p>
<!-- END ADD NEW PRODUCT BUTTON -->

<!-- BEGIN SEARCH INPUT FIELD -->
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search for products...">
</p>
<!-- END SEARCH INPUT FIELD -->

<!-- BEGIN MAT-TABLE -->
<div class="mat-elevation-z8 mt-3" [hidden]="!products">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- POSITION COLUMN -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let product; let i=index"> {{i+1}}&nbsp;&nbsp;&nbsp;</td>
        </ng-container>
        
        <!-- NAME COLUMN -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        <!-- CATEGORY COLUMN -->
        <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let product"> {{product.category}} </td>
            </ng-container>
        
        <!-- PRICE COLUMN -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let product"> {{product.price | currency:'USD'}} </td>
        </ng-container>
        
        <!-- EDIT COLUMN -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let product">                 
                <a [routerLink]="['/admin/products/', product.id]">Edit</a>                     
            </td>
        </ng-container>           
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- BEGIN PAGINATION -->
    <mat-paginator [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
    <!-- END PAGINATION -->

</div>
<!-- END MAT-TABLE -->

<!-- BEGIN LOADING -->
<div [hidden]="products">                  
    <div class="d-flex justify-content-center" > 
        <div>
            <mat-spinner ></mat-spinner>
            <h4 class="mt-3">Loading...</h4>
        </div>
    </div> 
</div>
<!-- END LOADING -->
