
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="d-md-none pt-4">Shopping Cart</h2>
            <h1 class="d-none d-md-block">Shopping Cart</h1>
            <div *ngIf="cart$ | async as cart" class="table-responsive pt-1">
                <p> You have {{ cart.TotalItemCount }} items in your shopping cart.    
                    <button *ngIf="cart.TotalItemCount > 0" class="btn btn-sm btn-light mb-1" (click)="clearCart()" [disabled]="(cart.TotalItemCount === 0)">
                        Clear Shopping Cart
                    </button>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none" scope="col"></th>
                            <th scope="col" class="d-md-none w-49">Product</th>
                            <th scope="col" class="d-md-none text-center w-50">Quantity</th>
                            <th scope="col" class="d-md-none text-right w-25">Price</th>
                        </tr>
                        <tr>
                            <th class="d-none d-md-table-cell w-10" scope="col"></th>
                            <th scope="col" class="d-none d-md-table-cell w-30">Product</th>
                            <th scope="col" class="d-none d-md-table-cell text-center w-40">Quantity</th>
                            <th scope="col" class="d-none d-md-table-cell text-right w-40">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart.itemsArr;  let i=index" class="text-center-vert">
                            <th class="d-none d-md-table-cell" style="padding-left:0px" scope="row"><img [src]="item.product.imageUrl" class="thumbnail"></th>
                            <td>{{item.product.name}}</td>
                            <td class="text-center"> <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity></td>
                            <td class="text-right">{{item.TotalPrice | currency:'EUR'}}</td>
                        </tr>  
                        <tr>
                            <td class="d-none d-md-table-cell"></td>
                            <th></th>
                            <th class="text-center">Total</th> 
                            <th class="text-right">
                                {{ cart.TotalPrice | currency:'EUR' }}
                            </th>                              
                        </tr>     
                    </tbody>
                </table> 
                <button class="btn mt-4 check-out-button" [disabled]="(cart.TotalItemCount === 0)" [class.btn-primary]="(cart.TotalItemCount > 0)" routerLink="/check-out">
                    Check Out
                </button>  
            </div>
        </div>
    </div>
</div>
