.arr-right.breadcrumb-item+.breadcrumb-item::before {

    content: "›";   
    vertical-align:top;   
    color: floralwhite;   
    font-size:30px;   
    line-height:18px;
    margin-top:2.3px;
}

.container{
    padding:0px;    
}

.fixed-top{
    position:fixed;    
}

a {
        color:rgb(26, 75, 30);
}

span {
    color:rgb(244, 255, 245);
}

.breadcrumb{
    margin-top:80px;
    padding:10px 16px 10px 16px !important;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { margin-top:83px !important; }
}





