.arr-right.breadcrumb-item+.breadcrumb-item::before {

    content: "›";   
    vertical-align:top;   
    color: floralwhite;   
    font-size:30px;   
    line-height:18px;
    margin-top:2.3px;
}

.container{
    padding:0px;    
}

.fixed-top{
    position:fixed;    
}

a {
        color:rgb(26, 75, 30);
}

span {
    color:rgb(244, 255, 245);
}



