<h1>Shopping Cart</h1>
<div *ngIf="cart$ | async as cart">
    <p> You have {{ cart.TotalItemCount }} items in your shopping cart.    
        <button *ngIf="cart.TotalItemCount > 0" class="btn btn-sm btn-light mb-1" (click)="clearCart()" [disabled]="(cart.TotalItemCount === 0)">
            Clear Shopping Cart
        </button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" ></th>
                <th scope="col" style="min-width:110px;">Product</th>
                <th scope="col" class="text-center" style="min-width:110px;">Quantity</th>
                <th scope="col" class="text-right" style="width:200px;">Price</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.itemsArr;  let i=index" class="text-center-vert">
                <th style="padding-top:20px" scope="row"><img [src]="item.product.imageUrl" class="thumbnail"></th>
                <td style="padding-top:20px;">{{item.product.name}}</td>
                <td  style="padding-top:14px;"> <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity></td>
                <td class="text-right" style="padding-top:20px">{{item.TotalPrice | currency:'EUR'}}</td>
            </tr>  
            <tr>
                <td></td>
                <th class="text-center">Total</th>
                <th></th> 
                <th class="text-right">
                    {{ cart.TotalPrice | currency:'EUR' }}
                </th>                              
            </tr>     
        </tbody>
    </table> 
    <button class="btn mt-4" [disabled]="(cart.TotalItemCount === 0)" [class.btn-primary]="(cart.TotalItemCount > 0)" routerLink="/check-out">
        Check Out
    </button>  
</div>
