<h1 class="pt-3 pt-md-0 pb-2">Order History</h1>

<!-- BEGIN ORDER HISTORY TABLE -->
<table class="table" *ngIf="orders">
    <thead>   
        <tr>  
        <!-- POSITION -->
        <th scope="col">#</th>
        <!-- CUSTOMER -->
        <th scope="col">Customer</th>
        <!-- DATE -->
        <th scope="col">Date</th>
        <!-- VIEW ORDER -->
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let order of orders; let i = index">
        <tr>
        <!-- POSITION -->
        <th scope="row">{{i+1}}</th>
        <!-- CUSTOMER -->
        <td *ngIf="(order.username != (null || '')) else guest">{{order.username}}</td>
        <ng-template #guest><td>guest</td></ng-template>
        <!-- DATE -->
        <td>{{order.datePlaced | date}}</td>
        <!-- VIEW ORDER -->
        <td>
            <a [routerLink]="['/admin/orders/', order.id]">View</a>     
        </td>
        </tr>
    </tbody>
</table>
<!-- END ORDER HISTORY TABLE -->