
<h1 class="pt-3 pt-md-0 pb-3">My Order History</h1>

<!-- BEGIN ORDER TABLE -->
<table class="table" *ngIf="orders">
    <thead>   
        <tr>    
        <!-- POSITION COLUMN  -->
        <th scope="col">#</th>
        <!-- CUSTOMER COLUMN -->
        <th scope="col">Customer</th>
        <!-- DATE COLUMNS -->
        <th scope="col">Date</th>  
        <!-- VIEW ORDER COLUMN -->
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let order of orders; let i = index">
        <tr>
        <!-- POSITION COLUMN  -->
        <th scope="row">{{i+1}}</th>
        <!-- CUSTOMER COLUMN -->
        <td *ngIf="(order.username != (null || '')) else guest">{{order.username}}</td>       
        <ng-template #guest><td>guest</td></ng-template>    
         <!-- DATE COLUMNS -->    
        <td>{{order.datePlaced | date}}</td>
        <!-- VIEW ORDER COLUMN -->
        <td>
            <a [routerLink]="['/my/orders/', order.id]">View</a>     
        </td>
        </tr>
    </tbody>
</table>
<!-- END ORDER TABLE -->