<h1>My Order History</h1>
<table class="table" *ngIf="orders">
    <thead>   
        <tr>     
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let order of orders; let i = index">
        <tr>
        <th scope="row">{{i+1}}</th>
        <td *ngIf="(order.username != (null || '')) else guest">{{order.username}}</td>
        <ng-template #guest><td>guest</td></ng-template>
        <td>{{order.datePlaced | date}}</td>
        <td>
            <a [routerLink]="['/my/orders/', order.id]">View</a>     
        </td>
        </tr>
    </tbody>
</table>