<!-- BEGIN NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: rgb(255, 255, 255)!important">
  <div class="container">

    <!-- BEGIN LOGO -->
    <a class="navbar-brand" routerLink="/" >      
      <fa-icon class="pl-4 pl-md-0" [icon]="faLeaf" id="logo" transform="down-1" style="font-size:120%;"></fa-icon>     
    </a>  
    <a>
      <!-- BEGIN SLOGAN -->      
      <span class="d-sm-none" style="word-break: break-all; color: rgb(104, 104, 104)">The Green Leaf</span>      
      <!-- END SLOGAN -->  
      <!-- BEGIN SLOGAN -->      
      <span class="d-none d-sm-inline-block pl-3 pl-md-5 slogan">Always green, always fresh.</span>      
      <!-- END SLOGAN -->     
    </a>
    <!-- END LOGO -->

   

    <!-- BEGIN COLLAPSE BUTTON -->
    <button style="margin-right:30px!important;" class="navbar-toggler ml-auto" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <!-- END COLLAPSE BUTTON -->

    <!-- BEGIN COLLAPSIBLE ITEMS -->
    <div class="collapse navbar-collapse pt-1" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">

      <div class="mr-auto"></div>
      <!-- BEGIN NAVBAR LINKS -->
      <ul class="navbar-nav pl-3" [class.collapsed]="!isCollapsed">

        <!-- BEGIN PRODUCTS -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="closeNavbar()">Products<span class="sr-only">(current)</span></a>
        </li>
        <!-- END PRODUCTS -->

        <!-- BEGIN SHOPPING CART -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart" (click)="closeNavbar()">
              <fa-icon [icon]="faShoppingCart" style="font-size:120%;"></fa-icon>
              <ng-container *ngIf="cart$ | async as cart">
                <span *ngIf="cart.TotalItemCount>0" class="badge badge-warning badge-pill" >{{cart.TotalItemCount}}</span>
              </ng-container>
            </a>
        </li>  
        <!-- END SHOPPING CART -->

        <!-- BEGIN USER PROFILE LINKS -->

          <!-- BEGIN AUTHENTICATED USER LINKS -->
          <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown" >
              <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  {{ appUser.name }}
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" >
                <hr>
                <a class="dropdown-item" ngbDropdownItem routerLink="/my/orders" (click)="closeNavbar()">My Orders</a>
                <ng-container *ngIf="appUser.isAdmin">
                  <a class="dropdown-item d-flex align-items-center" ngbDropdownItem routerLink="/admin/orders" (click)="closeNavbar()">
                    Manage Orders&nbsp;<span class="badge badge-light">admin</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" ngbDropdownItem routerLink="/admin/products" (click)="closeNavbar()">Manage Products&nbsp;<span class="badge badge-light">admin</span></a>
                </ng-container>
                <a class="dropdown-item" ngbDropdownItem (click)="openLogoutModal(content)" class="hover">Log Out</a>
              </div>
          </li>
          <!-- END AUTHENTICATED USER LINKS -->

          <!-- BEGIN ANONYMOUS USER LINK - LOGIN -->
          <ng-template #anonymousUser>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" (click)="closeNavbar()">Login<span class="sr-only">(current)</span></a>
            </li>
          </ng-template> 
          <!-- END ANONYMOUS USER LINK - LOGIN -->

        <!-- END USER PROFILE LINKS -->
      </ul>
      <!-- END NAVBAR LINKS -->
    </div>
    <!-- END COLLAPSIBLE ITEMS -->
  </div>
</nav>
<!-- END NAVBAR -->

<!-- BEGIN BREADCRUMB -->
<div class="container-fluid">
    <div class="row">
        <div class="col breadcrumb w-100">
            <breadcrumb></breadcrumb>
        </div>
    </div>
</div>
<!-- END BREADCRUMB -->

 <!-- BEGIN LOGOUT MODAL -->
 <ng-template #content let-modal>
    <logout-modal></logout-modal>
  </ng-template>
  <!-- END LOGOUT MODAL  -->

