
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$oshop-primary: mat-palette($mat-indigo);
$oshop-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$oshop-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$oshop-theme: mat-light-theme($oshop-primary, $oshop-accent, $oshop-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($oshop-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


html, body { height: 100%; overflow-x: hidden;}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top:80px;
 }

$primary-color: #c1d62e;

.primary-color{
    color: #c1d62e;
}

#logo {
    color: $primary-color;
}

#search-button {
    background-color: $primary-color;
    border-color: rgb(207, 207, 207);
}

.breadcrumb {
    background-color: $primary-color;
}

.page-footer {
    background-color: $primary-color;
}

.filter-button {
    color: rgb(145, 145, 145);
    border-color: rgb(145, 145, 145);
    
}

.filter-button:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: $primary-color;
    border-color:$primary-color;
}

.filter-button:not(:disabled):not(.disabled).active:focus, .filter-button:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem $primary-color;
}

.filter-button:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem $primary-color;
}

.filter-button:focus {
    box-shadow: 0 0 0 0.0rem rgba($primary-color,.25);
}

.filter-button:hover {
    background-color: $primary-color;
    color: white;
    border-color: $primary-color;
}

.filter-button.focus, #orderDropdown:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-color,.5);
}

